* {
    padding: 0;
    margin: 0;
}

.btn-three {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

.floating-img {
    animation: float 4s ease-in-out infinite;
    margin: 40px 30px;
}

.second-float {
    width: 50px;
    height: 50px
}

@keyframes float {
    0% {
        transform: translatey(0px) rotate(0);
    }

    50% {
        transform: translatey(-20px) rotate(90deg);
    }

    100% {
        transform: translatey(0px) rotate(0deg);
    }
}